.WeatherForecast {
  margin-top: 20px;
  text-align: center;
}

.WeatherForecast-day {
  color: #272142;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.WeatherForecast-temperature {
  color: #280582;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}

.WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 10px;
}
